.Nav-div nav
{
     background: #6e54b0;
     font-family: 'Roboto', sans-serif;
}
.header-link
{
    text-decoration-line: none;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

.div-from
{
    margin-right: 350px;
    font-family: 'Roboto', sans-serif;
}